form {
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#results {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}



.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-items {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 1;
    width: 100%;
    min-width: 100%;
}

.carousel-item img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-control {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}
